*{
  box-sizing: border-box;
}
body{
    background-color: #e6edff;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }
.principalcontainer{
    width: 99vw;
}
@media(max-width:680px){
    .principalcontainer{
        width: 97vw;
    }
}
  .header {
    background-color: #001a5c;
    position: fixed;
    width:100%;
    top:0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    padding: 20px;
    align-items: center;
  }
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
  .links {
    display: flex;
    justify-content: flex-end;
  }
  .links a {
    color: white;
    margin: 0 0 0 50px;
  }
  .links a:hover {
    color: #b3913d;
  }
/*bienvenida*/
  .container{
    margin-top: 82px;
  }
  .bienvenida {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index:-1;
  }
  .bienvenida img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bienvenida h1{
    position: absolute;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-shadow: 5px 5px 10px black;
  }
@media(max-width:680px){
    .bienvenida h1{
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-shadow: 5px 5px 10px black;
    width:400px;
        text-align: center;
  }
}
  .logo{
    height: 40px;
    width: auto;
    position: relative;
  }
  .howabout{
    height: 100vh;
    width: 100%;
    
  }
  .title{
    background-color: #6691FF;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    border-radius: 0 0 100px 100px;
  }
/*nosotros*/
  .howaboutcontent{
    display: flex;
    justify-content:center;
    align-items: center;
  }
@media(max-width:680px){
    .howaboutcontent{
        flex-direction:column;
    }
}
  .img2{
    width:50%;
    padding:50px 100px;
  }
@media(max-width:680px){
    .img2{
        width:80%;
        padding:20px;
    }
}
  .valores{
    display: flex;
    flex-direction: column;
    padding:0 30px 0 0;
      justify-content: center;
  }
@media(max-width:680px){
    .valores{
        padding:20px;
        margin-bottom: 20px;
    }
}
  .mision{
    margin:0 0 10px 0;
  }
  .titlevalores{
    color: #b3913d;
    font-size: 2.5rem;
  }
  .mision p{
    color: #001a5c;
    font-size: 1.5rem;
  }
@media(max-width:680px){
    .titlevalores{
        color: #001a5c;
        font-size: 1.2rem;
    }
    .mision p{
        font-size:0.9rem;
        padding-right:25px;
    }
    .titlevalores{
        text-align: center;
    }
}

/*CONTACTO*/
  .contact{
    height: 100vh;
  }
  .contactcontent{
    display: flex;
    justify-content: space-around;
  }

.containerform{
    display: flex;
    flex-direction: column;
}
.containerform h4{
    font-size: 1.5rem;
    margin: 150px 0 0 0;
}
.form{
    width: 600px;
    display: flex;
    flex-direction: column;
}
.form input{
    width: 550px;
    margin: 15px 0;
    border: none;
    padding: 10px;
}
.form textarea{
    width: 550px;
    margin: 15px 0;
    border: none;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}
.submit{
    width: 570px;
    display: flex;
    justify-content: space-between;
}
button{
    height: 50px;
    width: 100px;
    background-color: #b3913d;
    color: #e6edff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #8a702e;
}
.submit p{
    color: #001a5c;
    font-size: 1.2rem;
}
.containerdatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}
.containerdatos h4{
    font-size: 1.5rem;
    margin: 100px 0 0 0;
}
.ico{
    width:50px;
    margin: 15px 20px 0 0;
}
.ico:hover{
    width:65px ;
}

@media(max-width:680px){
    .contactcontent{
        width:600px;
        padding-left: 20px;
        flex-direction:column;
    }
    .containerform h4{
        font-size:1.5rem;
        margin: 25px;
        text-align: center;
    }
    .form input{
        width:90% ;
    }
    .form textarea{
        width:90% ;
    }
    .containerdatos{
        width:300px;
        padding: 0;
    }
    .containerdatos h4{
        font-size: 1rem;
        margin: 0;
    }
    .submit{
        display: flex;
        justify-content: space-between;
        margin-right:40px ;
    }
    .containerdatos{
        display:flex;
        width: 100%;
        margin-top:30px ;
    }
    .containerdatos h4{
        text-align: center;
        font-size:1.5rem ;
    }
    .containerdatos p{
        font-size: .9rem;
    }
    .redes{
        display: flex;
        justify-content: center;
        margin:0 0 20px 0;
    } 
}

/*chatbot*/
.chat{
    width: 60px;
    position: fixed;
    z-index: 5;
    top:90%;
    left: 94%;
    cursor: pointer;

}
.chat:hover{
    width: 70px;
}
@media(max-width:680px){
    .chat{
        top:90%;
        left:85%;
    }
}